.git
.github
.next
.vercel
coverage
node_modules
out
tests

.env
.env.*
!.env.example
!.env.production.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

Dockerfile
docker-compose*.yml
README.md
tsconfig.tsbuildinfo
